/* Bootstrap adjustments */

body {
  padding-top: 71px;
  background: url("../img/groovepaper2.png");
}

/* Sign-in */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin-bottom: -1px;
}

/* Mandis */

.highlight {
  background-color: #f0ad4e !important;
}

textarea {
  resize: vertical;
  width: 100%;
}

th input {
  width: 100%;
}

/* narrow the columns that would otherwise be widened by the default size of*/
/* their filter input fields */
thead th:nth-child(1) {
  width: .5em;
}

thead th:nth-child(2) {
  width: 5em;
}

thead th:nth-child(3) {
  width: 2em;
}

thead th:nth-child(4) {
  width: 1em;
}

/* progress bars */

.progress {
  margin-bottom: 0 !important;
}

.progress-bar[aria-valuenow="0"] {
  color: gray;
  min-width: 3%;
  background: transparent;
  box-shadow: none;
}

#mandis-app > .nav-progress {
  position: fixed;
  height: 7px;
  width: 100%;
  border-radius: 0;
  z-index: 1040;
  background: rgb(200, 200, 200);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}

#batch-progress {
  top: 50px;
}

#seg-progress {
  top: 57px;
}

/* fix helpTag to top (responsiveness partially implemented in JS) */
@media screen and (min-width: 992px) {
  #help-tag {
    position: fixed;
    top: 71px;
    overflow: hidden;
  }

  #help-tag .panel-body {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
