/* Bootstrap adjustments */

body {
  padding-top: 60px;
  background: url("../img/groovepaper2.png");
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

/* Mandis */

.highlight {
  background-color: #f0ad4e !important;
}

textarea {
  resize: vertical;
  width: 100%;
}
