[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-babel = "==0.9.*"
flask-markdown = "*"
flask-mongoengine = "*"
flask-restful = "*"
flask-security = "==1.*"
flask-wtf = "==0.13.*"
gitpython = "*"
gunicorn = "*"


[dev-packages]

invoke = "==0.12.*"
sortedcontainers = "*"
