[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-babel = "*"
flask-markdown = "*"
flask-mongoengine = "*"
flask-restful = "*"
flask-security = "*"
flask-wtf = "*"
gitpython = "*"


[dev-packages]

invoke = "==0.12.*"
lxml = "*"
