{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename = 'vendor/angular/angular.js') }}">
</script>
<script src="{{ url_for('static', filename = 'js/mandisApp.js') }}">
</script>

<div id="mandisApp" class="ng-cloak" ng-app="mandisApp" ng-controller="mandisCtrl">

  <div id="batch-progress" class="progress nav-progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0"
         aria-valuenow="{[ user.done ]}" aria-valuemax="{[ user.max ]}"
         style="width: {[ user.done / user.max * 100 ]}%">
    </div>
  </div>

  <div seg-progress id="seg-progress" class="progress nav-progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0"
         aria-valuenow="{[ dirty ]}" aria-valuemax="{[ pristine + dirty ]}"
         style="width: {[ dirty / (pristine + dirty) * 100 ]}%">
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-{[ message[0] ]} alert-dismissible"
             role="alert" ng-repeat="message in messages">
          <button type="button" class="close" data-dismiss="alert"
                  aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {[ message[1] ]}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Kontext</h3>
          </div>
          <div class="panel-body">
            <p ng-repeat="seg in prev">
              <code>spk{[ seg.num ]}:</code> <span ng-repeat="pos in seg.utt">{[ pos.word ]} </span>
            </p>
            <p>
              <button ng-click="getPrev()" type="button"
                      class="btn btn-success btn-xs">
                <span class="glyphicon
                             glyphicon-arrow-up" aria-hidden="true"></span>
              </button>
              <code>spk{[ num ]}:</code> <span ng-repeat="pos in utt">{[ pos.word ]} </span>
              <button ng-click="getNext()" type="button"
                      class="btn btn-success btn-xs">
                <span class="glyphicon
                             glyphicon-arrow-down" aria-hidden="true"></span>
              </button>
            </p>
            <p ng-repeat="seg in next">
              <code>spk{[ seg.num ]}:</code> <span ng-repeat="pos in seg.utt">{[ pos.word ]} </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Desambiguace</h3>
          </div>
          <div class="panel-body">
            <form name="disambForm">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>word</th>
                    <th>lemma</th>
                    <th>tag</th>
                    <th>označit</th>
                    <th>poznámka</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-class="{highlight: pos.flag}" ng-repeat="pos in utt">

                    <!-- word column -->
                    <td>{[ pos.word ]}</td>

                    <!-- lemma column -->
                    <td ng-if="numOfKeys(pos.pool) > 1">
                      <select ng-model="pos.lemma" ng-change="uttManipulated()"
                              ng-options="lemma as lemma for (lemma, tags) in pos.pool">
                      </select>
                    </td>
                    <td ng-if="numOfKeys(pos.pool) == 1">
                      {[ pos.lemma = firstKey(pos.pool); pos.lemma ]}
                    </td>
                    <td ng-if="!pos.pool">
                      {[ pos.lemma ]}
                    </td>

                    <!-- tag column -->
                    <td ng-if="pos.pool[pos.lemma].length > 1">
                      <select ng-model="pos.tag"
                              ng-change="$parent.$parent.helpTag = pos.tag; uttManipulated()"
                              ng-options="tag as tag for tag in pos.pool[pos.lemma]">
                      </select>
                    </td>
                    <td ng-if="pos.pool[pos.lemma].length == 1">
                      {[ pos.tag = pos.pool[pos.lemma][0]; pos.tag ]}
                    </td>
                    <td ng-if="!pos.pool">
                      {[ pos.tag ]}
                    </td>
                    <td ng-if="!pos.lemma">
                      <em>&mdash; vyberte nejprve lemma &mdash;</em>
                    </td>

                    <!-- flag column -->
                    <td>
                      <input type="checkbox" ng-model="pos.flag">
                    </td>

                    <!-- comment column -->
                    <td>
                      <textarea ng-if="pos.flag" ng-model="pos.note"></textarea>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button ng-click="submitUtt()" type="button"
                      class="btn btn-primary">Uložit</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-4" ng-show="helpTag">
        <div class="panel panel-success" set-class-when-at-top>
          <div class="panel-heading">
            <h3 class="panel-title">Nápověda k tagu {[ helpTag ]}</h3>
          </div>
          <div class="panel-body">
            <table class="table table-condensed table-striped">
              <tr ng-repeat="(idx, pos) in postag">
                <td><b>{[ pos.label ]}</b></td>
                <td><code>{[ helpTag[idx] ]}</code></td>
                <td>{[ pos[helpTag[idx]] ]}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>

    {% if config.DEBUG %}
    <pre>
    {[ utt | json ]}
    </pre>
    {% endif %}

  </div>

  <div class="container hidden-ref">

    <!-- this is just a replica of the row with helpTag  with visibility:
    hidden, used to adjust the size of the actually visible helpTag when fixing
    it at the top of the viewport -->
    <div class="row">

      <div class="col-md-8"></div>

      <div class="col-md-4" ng-show="helpTag">
        <div id="hidden-ref-help" class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Nápověda k tagu {[ helpTag ]}</h3>
          </div>
          <div class="panel-body">
            <table class="table table-condensed table-striped">
              <tr ng-repeat="(idx, pos) in postag">
                <td><b>{[ pos.label ]}</b></td>
                <td><code>{[ helpTag[idx] ]}</code></td>
                <td>{[ pos[helpTag[idx]] ]}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
{% endblock %}
