{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename = 'vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css') }}">
<script src="{{ url_for('static', filename = 'vendor/datatables/media/js/jquery.dataTables.min.js') }}">
</script>
<script src="{{ url_for('static', filename = 'vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js') }}">
</script>
<script src="{{ url_for('static', filename = 'js/list.js') }}">
</script>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Zpracované segmenty</h3>
        </div>
        <div class="panel-body">
          <table id="seg-table" class="table table-striped table-bordered dataTable no-footer">
            <thead>
              <tr>
                <th>#</th><th>SID</th><th>ORAL</th><th>☑</th><th>segment</th>
              </tr>
            </thead>
            <tbody>
              {% for seg in segs %}
              <tr>
                <td>{{ seg.i }}</td>
                <td><a href="edit/{{ seg.sid }}/">{{ seg.sid }}</a></td>
                <td>{{ seg.oral }}</td>
                <td>{{ "ano" if seg.flag_seg else "ne" }}</td>
                <td>{{ seg.utt }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
